# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# local env files
.env
.env*.local
CultivationApp/.env
CultivationApp/.env*.local

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
